@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  color: white;
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
}

.wrapper {
  background: pink;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 9px 10px 2px 1px rgba(0,0,0,0.1); 
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.button {
  background: #BF9FA5;
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 1.5rem;
}

.button:hover {
  background: #7F6065;
}

.equals {
  background: #A8B2A7;
  grid-column: 3/5;
}

.opt {
  background: #7D7363;
}